nav.navbar.navbar-toggleable-md.navbar-light.bg-faded.d-flex.justify-content-center
  div.logo.d-flex.justify-content-center.align-items-center
    div.main-logo
      i.fa.fa-instagram.fa-2x(aria-hidden='true')
    div.main-logo-line
    div.main_logo_text
      img(src='images/logo.png', height='50', width='150')
  div.search.d-flex.justify-content-around.align-items-center
    label(id="search-i")
      i(class="fa fa-search" aria-hidden="true") ...Search
      input#search-input.form-control(type="text")
    #search-results.dropdown-menu.bd-search-results
  div.userIcons.d-flex.justify-content-around.align-items-center
    i.fa.fa-camera-retro(aria-hidden="true")
    i.fa.fa-heart-o(aria-hidden='true')
    i.fa.fa-user-o(aria-hidden='true')  #{currentUser.username}
