img(src='images/logo.png', height='80', width='150')
p.sign-up Sign up to see photos and videos from your friends.
button.signup-button Log in with Facebook
p.formcont
  form.signup-form
    .form-group
      input.sign-up-field#InputEmail.form-control(type='email', placeholder='Mobile Number or Email')
    .form-group
      input.sign-up-field#Inputfirstname.form-control(type='text', placeholder='First Name')
    .form-group
      input.sign-up-field#Inputlastname.form-control(type='text', placeholder='Last Name')
    .form-group
      input.sign-up-field#exampleInputPassword1.form-control(type='password', placeholder='Password')
    button.signup-button(type='submit') Sign Up
