img(src='images/logo.png', height='80', width='150')
p.formcont
  form.signup-form
    .form-group
      input.user_name-field#Inputusername.form-control(type='text', placeholder='Username',value=user.username)
    .form-group
      input.password-field#Inputpassword.form-control(type='text', placeholder='Password')
    include errores
    button.signup-button(type='submit' onclick="viewchanger()") Sign in
  
