img(src='images/logo.png', height='80', width='150')
p.sign-up Sign up to see photos and videos from your friends.

a(href="/signin")
  button.signup-button Sign In  
p.formcont
  form.signup-form(method='post', action='/')
    .form-group
      input.sign-up-field#InputEmail.form-control(name='email',type='email', placeholder='Email',value=user.email)
    .form-group
      input.sign-up-field#Inputusername.form-control(name='username',type='text', placeholder='Username',value=user.username)
    .form-group
      input.sign-up-field#Inputphonenumber.form-control(name='phonenumber',type='text', placeholder='Phone Number',value=user.phonenumber)
    .form-group
      input.sign-up-field#exampleInputPassword1.form-control(name='password',type='password', placeholder='Password')
    include errores
    button.signup-button(type='submit') Sign Up
