extends layout

block content
  .row.main-section
    .col-md-6.d-flex.justify-content-end
      img(src='images/iphone.png', height='600', width='400')
    .col-md-6.d-flex.justify-content-start
      .form-area
  .row
    .col-md-12.d-flex.justify-content-center
      ul.nav.footer
        li.nav-item
          a.nav-link(href='#') ABOUT US
        li.nav-item
          a.nav-link(href='#') SUPPORT
        li.nav-item
          a.nav-link(href='#') BLOG
        li.nav-item
          a.nav-link(href='#') PRESS
        li.nav-item
          a.nav-link(href='#') API
        li.nav-item
          a.nav-link(href='#') JOBS
        li.nav-item
          a.nav-link(href='#') PRIVACY
        li.nav-item
          a.nav-link(href='#') TERMS
        li.nav-item
          a.nav-link(href='#') DIRECTORY
        li.nav-item
          a.nav-link(href='#') LANGUAGE
