extends layout

block content
  .row.main-section
    .col-md-6.d-flex.justify-content-end
      img(src='images/iphone.png', height='600', width='400')
    .col-md-6
      .form-area
        include partials/signupform
  include partials/footer
