extends layout

block content
  .row.main-section
    .col-md-6.d-flex.justify-content-end
      img(src='images/iphone.png', height='600', width='400')
    .col-md-6
      .form-areatwo
        include partials/signinform
      .form-areathree
        p.formcont Not an user? Then
        |
        a(href="/") Sign up 
  include partials/footer
