extends layout
block content
  include partials/nav
  div.container.d-flex.justify-content-center
    .card
      .card-header
        div.d-flex.justify-content-start.align-items-center
          img.rounded-circle(src='images/wonder_woman.jpg', alt='User image')
          p.user_name Wonder Woman
      img.card-img-top(src='images/dog.jpg', alt='Card image cap')
      .card-block
        .card-title.d-flex.justify-content-start.align-items-center
          i.fa.fa-heart-o(aria-hidden='true')
          i.fa.fa-comment-o(aria-hidden='true')
        p.card-text
          | Some quick example text to build on the card title and make up the bulk of the card's content.
        a.btn.btn-primary(href='#') Go somewhere
      
    
